<h1 class="text-center mb-4">Upload de Vendas</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">Selecione o arquivo para upload</div>
        <div class="card-body">
          <div class="form-group">
            <label for="fileUpload" class="form-label">Arquivo de Vendas</label>
            <input type="file" id="fileUpload" class="form-control" accept=".txt" onchange="handleFileUpload(event)" />
          </div>
          <div id="drop-area" class="border border-primary text-center p-4 my-3" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
            <p>Arraste e solte o arquivo aqui ou clique para selecionar</p>
          </div>

          <div class="text-center">
            <%= button_to 'Fazer Upload', upload_sales_path, method: :post, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function dragOverHandler(event) {
    event.preventDefault();
    event.dataTransfer.dropEffect = 'copy';
  }

  function dropHandler(event) {
    event.preventDefault();
    const files = event.dataTransfer.files;
    if (files.length > 0) {
      document.getElementById('fileUpload').files = files;
    }
  }

  function handleFileUpload(event) {
    const file = event.target.files[0];
    if (file) {
      console.log(`File chosen: ${file.name}`);
    }
  }
</script>
